<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ule.shoppingOrderBatchWorker.dao.OutTimePayMapper">
    <resultMap id="CtocOrder" type="com.ule.shoppingOrderBatchWorker.entity.CtocOrder">
        <id column="ORDER_ID" jdbcType="DECIMAL" property="orderId"/>
        <result column="ESC_ORDERID" jdbcType="VARCHAR" property="escOrderid"/>
        <result column="BUSINESS_TYPE" jdbcType="DECIMAL" property="businessType"/>
        <result column="ORDER_TYPE" jdbcType="DECIMAL" property="orderType"/>
        <result column="MERCHANT_SITE_CODE" jdbcType="VARCHAR" property="merchantSiteCode"/>
        <result column="TRANS_TYPE4_ADDVALUE" jdbcType="DECIMAL" property="transType4Addvalue"/>
        
        <!-- 
        <result column="SELLER_ONLYID" jdbcType="DECIMAL" property="sellerOnlyid"/>
        <result column="SELLER_LOGINID" jdbcType="VARCHAR" property="sellerLoginid"/>
        <result column="BUYER_ONLYID" jdbcType="DECIMAL" property="buyerOnlyid"/>
        <result column="BUYER_LOGINID" jdbcType="VARCHAR" property="buyerLoginid"/>
        <result column="PRODUCT_CLASSID" jdbcType="DECIMAL" property="productClassid"/>
        <result column="PRODUCT_INFO" jdbcType="VARCHAR" property="productInfo"/>
        <result column="TRANS_TYPE1_AMOUNT" jdbcType="DECIMAL" property="transType1Amount"/>
        <result column="TRANS_TYPE2_AMOUNT" jdbcType="DECIMAL" property="transType2Amount"/>
        <result column="TRANS_TYPE3_VALUE" jdbcType="DECIMAL" property="transType3Value"/>
        <result column="TRANS_TYPE3_ADDVALUE" jdbcType="DECIMAL" property="transType3Addvalue"/>
        <result column="TRANS_TYPE3_AMOUNT" jdbcType="DECIMAL" property="transType3Amount"/>
        <result column="TRANS_TYPE4_VALUE" jdbcType="DECIMAL" property="transType4Value"/>
        <result column="TRANS_TYPE4_AMOUNT" jdbcType="DECIMAL" property="transType4Amount"/>
        <result column="TRANS_TYPE5_VALUE" jdbcType="DECIMAL" property="transType5Value"/>
        <result column="TRANS_TYPE5_ADDVALUE" jdbcType="DECIMAL" property="transType5Addvalue"/>
        <result column="TRANS_TYPE5_AMOUNT" jdbcType="DECIMAL" property="transType5Amount"/>
        <result column="TRANS_TYPE6_AMOUNT" jdbcType="DECIMAL" property="transType6Amount"/>
        <result column="SALE_TYPE" jdbcType="DECIMAL" property="saleType"/>
        <result column="BUY_TYPE" jdbcType="DECIMAL" property="buyType"/>
        <result column="BUY_SUBTYPE" jdbcType="DECIMAL" property="buySubtype"/>
        <result column="COUPON_ID" jdbcType="VARCHAR" property="couponId"/>
        <result column="COUPON_AMOUNT" jdbcType="DECIMAL" property="couponAmount"/>
        <result column="COUPON_USE_TIME" jdbcType="DATE" property="couponUseTime"/>
        <result column="TRANS_TYPE" jdbcType="DECIMAL" property="transType"/>
        <result column="TRANS_SUBTYPE" jdbcType="VARCHAR" property="transSubtype"/>
        <result column="TRANS_AMOUNT" jdbcType="DECIMAL" property="transAmount"/>
        <result column="ORDER_AMOUNT" jdbcType="DECIMAL" property="orderAmount"/>
        <result column="PAYMENT_AMOUNT" jdbcType="DECIMAL" property="paymentAmount"/>
        <result column="REFUND_AMOUNT" jdbcType="DECIMAL" property="refundAmount"/>
        <result column="ORDER_CREATE_TIME" jdbcType="DATE" property="orderCreateTime"/>
        <result column="BUYER_PAY_TIME" jdbcType="DATE" property="buyerPayTime"/>
        <result column="ORDER_TERMINAL_TIME" jdbcType="DATE" property="orderTerminalTime"/>
        <result column="BUYER_REFUND_TIME" jdbcType="DATE" property="buyerRefundTime"/>
        <result column="ORDER_STATUS" jdbcType="DECIMAL" property="orderStatus"/>
        <result column="ORDER_SUBSTATUS" jdbcType="DECIMAL" property="orderSubstatus"/>
        <result column="BUYER_NOTE" jdbcType="VARCHAR" property="buyerNote"/>
        <result column="BUYER_NOTE_TIME" jdbcType="DATE" property="buyerNoteTime"/>
        <result column="SELLER_NOTE" jdbcType="VARCHAR" property="sellerNote"/>
        <result column="SELLER_NOTE_TIME" jdbcType="DATE" property="sellerNoteTime"/>
        <result column="CANCEL_TYPE" jdbcType="DECIMAL" property="cancelType"/>
        <result column="CANCEL_NOTE" jdbcType="VARCHAR" property="cancelNote"/>
        <result column="CANCEL_TIME" jdbcType="DATE" property="cancelTime"/>
        <result column="UPDATE_TIME" jdbcType="DATE" property="updateTime"/>
        <result column="TRANS_WEBSITE" jdbcType="VARCHAR" property="transWebsite"/>
        <result column="BUYER_NOTE2" jdbcType="VARCHAR" property="buyerNote2"/>
        <result column="BUYER_NOTE2_TIME" jdbcType="DATE" property="buyerNote2Time"/>
        <result column="SELLER_NOTE2" jdbcType="VARCHAR" property="sellerNote2"/>
        <result column="SELLER_NOTE2_TIME" jdbcType="DATE" property="sellerNote2Time"/>
        <result column="MERCHANT_ORDER" jdbcType="VARCHAR" property="merchantOrder"/>
        <result column="MERCHANT_USR_NAME" jdbcType="VARCHAR" property="merchantUsrName"/>
        <result column="MERCHANT_USR_EMAIL" jdbcType="VARCHAR" property="merchantUsrEmail"/>
        <result column="MERCHANT_BACKURL" jdbcType="VARCHAR" property="merchantBackurl"/>
        <result column="MERCHANT_DATE" jdbcType="VARCHAR" property="merchantDate"/>
        <result column="MERCHANT_RESPOND_STATUS" jdbcType="DECIMAL" property="merchantRespondStatus"/>
        <result column="CHARGES_AMOUNT" jdbcType="DECIMAL" property="chargesAmount"/>
        <result column="MERCHANT_ID" jdbcType="DECIMAL" property="merchantId"/>
        <result column="COUPONTYPE" jdbcType="DECIMAL" property="coupontype"/>
        <result column="USEDPOINTAMOUNT" jdbcType="DECIMAL" property="usedpointamount"/>
        <result column="RESERVE_FLAG" jdbcType="DECIMAL" property="reserveFlag"/>
        <result column="PAYMENT_START_TIME" jdbcType="DATE" property="paymentStartTime"/>
        <result column="POINT_NAME" jdbcType="VARCHAR" property="pointName"/>
        <result column="POINT_WEBSITE" jdbcType="VARCHAR" property="pointWebsite"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
        <result column="CHANNEL" jdbcType="VARCHAR" property="channel"/>
        <result column="SALES_CHANNEL" jdbcType="VARCHAR" property="salesChannel"/>
        <result column="SELLER_NOTE3" jdbcType="VARCHAR" property="sellerNote3"/>
        <result column="SELLER_NOTE4" jdbcType="VARCHAR" property="sellerNote4"/>
        <result column="SELLER_NOTE5" jdbcType="VARCHAR" property="sellerNote5"/>
        <result column="SELLER_NOTE6" jdbcType="VARCHAR" property="sellerNote6"/>
        <result column="BUYER_NOTE3" jdbcType="VARCHAR" property="buyerNote3"/>
        <result column="BUYER_NOTE3_TIME" jdbcType="DATE" property="buyerNote3Time"/>
        <result column="TRANS_TOWN_CODE" jdbcType="VARCHAR" property="transTownCode"/>
        <result column="TRANS_TOWN" jdbcType="VARCHAR" property="transTown"/>
        <result column="TRANS_PROVINCE_CODE" jdbcType="VARCHAR" property="transProvinceCode"/>
        <result column="TRANS_PROVINCE" jdbcType="VARCHAR" property="transProvince"/>
         -->
    </resultMap>
    <!-- 
    <sql id="Ctoc_Order_Base_Column_List">
        ORDER_ID, ESC_ORDERID, SELLER_ONLYID, SELLER_LOGINID, BUYER_ONLYID, BUYER_LOGINID,
        PRODUCT_CLASSID, PRODUCT_INFO, TRANS_TYPE1_AMOUNT, TRANS_TYPE2_AMOUNT, TRANS_TYPE3_VALUE,
        TRANS_TYPE3_ADDVALUE, TRANS_TYPE3_AMOUNT, TRANS_TYPE4_VALUE, TRANS_TYPE4_ADDVALUE,
        TRANS_TYPE4_AMOUNT, TRANS_TYPE5_VALUE, TRANS_TYPE5_ADDVALUE, TRANS_TYPE5_AMOUNT,
        TRANS_TYPE6_AMOUNT, SALE_TYPE, BUY_TYPE, BUY_SUBTYPE, COUPON_ID, COUPON_AMOUNT, COUPON_USE_TIME,
        TRANS_TYPE, TRANS_SUBTYPE, TRANS_AMOUNT, ORDER_AMOUNT, PAYMENT_AMOUNT, REFUND_AMOUNT,
        ORDER_CREATE_TIME, BUYER_PAY_TIME, ORDER_TERMINAL_TIME, BUYER_REFUND_TIME, ORDER_STATUS,
        ORDER_SUBSTATUS, BUYER_NOTE, BUYER_NOTE_TIME, SELLER_NOTE, SELLER_NOTE_TIME, CANCEL_TYPE,
        CANCEL_NOTE, CANCEL_TIME, UPDATE_TIME, TRANS_WEBSITE, BUYER_NOTE2, BUYER_NOTE2_TIME,
        SELLER_NOTE2, SELLER_NOTE2_TIME, MERCHANT_ORDER, MERCHANT_USR_NAME, MERCHANT_USR_EMAIL,
        MERCHANT_BACKURL, MERCHANT_DATE, MERCHANT_RESPOND_STATUS, CHARGES_AMOUNT, ORDER_TYPE,
        MERCHANT_ID, COUPONTYPE, USEDPOINTAMOUNT, RESERVE_FLAG, PAYMENT_START_TIME, POINT_NAME,
        POINT_WEBSITE, REMARK, CHANNEL, SALES_CHANNEL, SELLER_NOTE3, SELLER_NOTE4, SELLER_NOTE5,
        SELLER_NOTE6, BUYER_NOTE3, BUYER_NOTE3_TIME, TRANS_TOWN_CODE, TRANS_TOWN, BUSINESS_TYPE,
        TRANS_PROVINCE_CODE, TRANS_PROVINCE
    </sql>
     -->
    <select id="findNotPayOverTimeOrder" resultMap="CtocOrder">
        select ORDER_ID,ESC_ORDERID,BUSINESS_TYPE,ORDER_TYPE,MERCHANT_SITE_CODE,TRANS_TYPE4_ADDVALUE from (
        select ORDER_ID,ESC_ORDERID,BUSINESS_TYPE,ORDER_TYPE,MERCHANT_SITE_CODE,TRANS_TYPE4_ADDVALUE, rownum row_num
        from POSTMALL_USER.CTOC_ORDER
        <![CDATA[where ORDER_STATUS = 3
        and ORDER_SUBSTATUS = 0
        and RESERVE_FLAG = 1
        and nvl(BUSINESS_TYPE, 0) <> 1201 
        and PAYMENT_START_TIME < #{paymentStartTime}
        and PAYMENT_START_TIME > #{paymentStartTime} - 1/24
        and SELLER_ONLYID <> '800104426']]>) b
        where b.row_num between 1 and 100
    </select>

    <update id="updateCtocOrder">
        update POSTMALL_USER.CTOC_ORDER
        set RESERVE_FLAG = #{releAseFlag}, UPDATE_TIME = sysdate
        where ESC_ORDERID = #{escOrderid}
        and ORDER_STATUS = 3
        and ORDER_SUBSTATUS = 0
    </update>

    <resultMap id="CheckoutOrderPrd" type="com.ule.shoppingOrderBatchWorker.entity.CheckoutOrderPrd">
        <id column="ID" jdbcType="DECIMAL" property="id"/>
        <result column="ESC_ORDERID" jdbcType="VARCHAR" property="escOrderid"/>
        <result column="ITEM_ID" jdbcType="DECIMAL" property="itemId"/>
        <result column="PRODUCT_NUM" jdbcType="DECIMAL" property="productNum"/>
        <result column="ITEM_NO" jdbcType="VARCHAR" property="itemNo"/>
        
        <!-- 
        <result column="PRODUCT_NAME" jdbcType="VARCHAR" property="productName"/>
        <result column="SAL_PRICE" jdbcType="DECIMAL" property="salPrice"/>
        <result column="CREATE_TIME" jdbcType="DATE" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="DATE" property="updateTime"/>
        <result column="COUPON_ID" jdbcType="VARCHAR" property="couponId"/>
        <result column="COUPON_AMOUNT" jdbcType="DECIMAL" property="couponAmount"/>
        <result column="COUPON_USE_TIME" jdbcType="DATE" property="couponUseTime"/>
        <result column="PRODUCT_COUPON_STATUS" jdbcType="DECIMAL" property="productCouponStatus"/>
        <result column="TRANS_TYPE1_VALUE" jdbcType="DECIMAL" property="transType1Value"/>
        <result column="TRANS_TYPE1_ADDVALUE" jdbcType="DECIMAL" property="transType1Addvalue"/>
        <result column="TRANS_TYPE1_AMOUNT" jdbcType="DECIMAL" property="transType1Amount"/>
        <result column="TRANS_TYPE2_VALUE" jdbcType="DECIMAL" property="transType2Value"/>
        <result column="TRANS_TYPE2_ADDVALUE" jdbcType="DECIMAL" property="transType2Addvalue"/>
        <result column="TRANS_TYPE2_AMOUNT" jdbcType="DECIMAL" property="transType2Amount"/>
        <result column="TRANS_TYPE3_VALUE" jdbcType="DECIMAL" property="transType3Value"/>
        <result column="TRANS_TYPE3_ADDVALUE" jdbcType="DECIMAL" property="transType3Addvalue"/>
        <result column="TRANS_TYPE3_AMOUNT" jdbcType="DECIMAL" property="transType3Amount"/>
        <result column="TRANS_TYPE4_VALUE" jdbcType="DECIMAL" property="transType4Value"/>
        <result column="TRANS_TYPE4_ADDVALUE" jdbcType="DECIMAL" property="transType4Addvalue"/>
        <result column="TRANS_TYPE4_AMOUNT" jdbcType="DECIMAL" property="transType4Amount"/>
        <result column="TRANS_TYPE5_VALUE" jdbcType="DECIMAL" property="transType5Value"/>
        <result column="TRANS_TYPE5_ADDVALUE" jdbcType="DECIMAL" property="transType5Addvalue"/>
        <result column="TRANS_TYPE5_AMOUNT" jdbcType="DECIMAL" property="transType5Amount"/>
        <result column="TRANS_TYPE6_VALUE" jdbcType="DECIMAL" property="transType6Value"/>
        <result column="TRANS_TYPE6_ADDVALUE" jdbcType="DECIMAL" property="transType6Addvalue"/>
        <result column="TRANS_TYPE6_AMOUNT" jdbcType="DECIMAL" property="transType6Amount"/>
        <result column="TRANS_TYPE7_VALUE" jdbcType="DECIMAL" property="transType7Value"/>
        <result column="TRANS_TYPE7_ADDVALUE" jdbcType="DECIMAL" property="transType7Addvalue"/>
        <result column="TRANS_TYPE7_AMOUNT" jdbcType="DECIMAL" property="transType7Amount"/>
        <result column="PRODUCT_SERIAL" jdbcType="DECIMAL" property="productSerial"/>
        <result column="PRODUCT_ID" jdbcType="DECIMAL" property="productId"/>
        <result column="PRODUCT_VERSION" jdbcType="DECIMAL" property="productVersion"/>
        <result column="PRODUCT_CLASSID" jdbcType="DECIMAL" property="productClassid"/>
        <result column="PRODUCT_PIC" jdbcType="VARCHAR" property="productPic"/>
        <result column="PRODUCT_POINT_STATUS" jdbcType="DECIMAL" property="productPointStatus"/>
        <result column="CREATE_SP_ID" jdbcType="DECIMAL" property="createSpId"/>
        <result column="TRANS_AMOUNT" jdbcType="DECIMAL" property="transAmount"/>
        <result column="ITEM_MALL_PRICE" jdbcType="DECIMAL" property="itemMallPrice"/>
        <result column="SKU_DESC" jdbcType="VARCHAR" property="skuDesc"/>
        <result column="PACKAGE_ID" jdbcType="VARCHAR" property="packageId"/>
        <result column="PRODUCT_STATUS" jdbcType="DECIMAL" property="productStatus"/>
         -->
    </resultMap>
    <!-- 
    <sql id="Checkout_Order_Prd_Base_Column_List">
        ID, PRODUCT_NAME, SAL_PRICE, PRODUCT_NUM, CREATE_TIME, UPDATE_TIME, COUPON_ID, COUPON_AMOUNT,
        COUPON_USE_TIME, PRODUCT_COUPON_STATUS, TRANS_TYPE1_VALUE, TRANS_TYPE1_ADDVALUE,
        TRANS_TYPE1_AMOUNT, TRANS_TYPE2_VALUE, TRANS_TYPE2_ADDVALUE, TRANS_TYPE2_AMOUNT,
        TRANS_TYPE3_VALUE, TRANS_TYPE3_ADDVALUE, TRANS_TYPE3_AMOUNT, TRANS_TYPE4_VALUE, TRANS_TYPE4_ADDVALUE,
        TRANS_TYPE4_AMOUNT, TRANS_TYPE5_VALUE, TRANS_TYPE5_ADDVALUE, TRANS_TYPE5_AMOUNT,
        TRANS_TYPE6_VALUE, TRANS_TYPE6_ADDVALUE, TRANS_TYPE6_AMOUNT, TRANS_TYPE7_VALUE, TRANS_TYPE7_ADDVALUE,
        TRANS_TYPE7_AMOUNT, PRODUCT_SERIAL, PRODUCT_ID, PRODUCT_VERSION, PRODUCT_CLASSID,
        PRODUCT_PIC, PRODUCT_POINT_STATUS, CREATE_SP_ID, TRANS_AMOUNT, ESC_ORDERID, ITEM_ID,
        ITEM_NO, ITEM_MALL_PRICE, SKU_DESC, PACKAGE_ID, PRODUCT_STATUS
    </sql>
     -->
    <select id="findCheckoutOrderPrdList" resultMap="CheckoutOrderPrd">
        select ID,ESC_ORDERID,ITEM_ID,PRODUCT_NUM,ITEM_NO
        from POSTMALL_USER.CHECKOUT_ORDER_PRD
        where ESC_ORDERID = #{escOrderid}
    </select>
<!-- 
    <resultMap id="Inventory_BaseResultMap" type="com.ule.shoppingOrderBatchWorker.entity.Inventory" >
        <id column="ID" property="id" jdbcType="DECIMAL" />
        <result column="STORAGE_ID" property="storageId" jdbcType="DECIMAL" />
        <result column="LOCATION" property="location" jdbcType="VARCHAR" />
        <result column="ITEM_ID" property="itemId" jdbcType="DECIMAL" />
        <result column="ITEM_NAME" property="itemName" jdbcType="VARCHAR" />
        <result column="ITEM_ATTRIBUTE" property="itemAttribute" jdbcType="VARCHAR" />
        <result column="UPC" property="upc" jdbcType="VARCHAR" />
        <result column="QTY" property="qty" jdbcType="DECIMAL" />
        <result column="BLOCKED_QTY" property="blockedQty" jdbcType="DECIMAL" />
        <result column="STORAGE_DATE" property="storageDate" jdbcType="DATE" />
        <result column="PRI" property="pri" jdbcType="DECIMAL" />
        <result column="STATUS" property="status" jdbcType="DECIMAL" />
        <result column="REMARK" property="remark" jdbcType="VARCHAR" />
        <result column="CREATE_TIME" property="createTime" jdbcType="DATE" />
        <result column="CREATE_UESR" property="createUesr" jdbcType="VARCHAR" />
        <result column="UPDATE_TIME" property="updateTime" jdbcType="DATE" />
        <result column="UPDATE_USER" property="updateUser" jdbcType="VARCHAR" />
        <result column="SKU" property="sku" jdbcType="VARCHAR" />
        <result column="SYN_FLG" property="synFlg" jdbcType="DECIMAL" />
        <result column="VERSION" property="version" jdbcType="DECIMAL" />
        <result column="SALE_BLOCKED_QTY" property="saleBlockedQty" jdbcType="DECIMAL" />
        <result column="MSPRICE" property="msprice" jdbcType="DECIMAL" />
    </resultMap>
    <sql id="Inventory_Base_Column_List" >
        ID, STORAGE_ID, LOCATION, ITEM_ID, ITEM_NAME, ITEM_ATTRIBUTE, UPC, QTY, BLOCKED_QTY,
        STORAGE_DATE, PRI, STATUS, REMARK, CREATE_TIME, CREATE_UESR, UPDATE_TIME, UPDATE_USER,
        SKU, SYN_FLG, VERSION, SALE_BLOCKED_QTY, MSPRICE
    </sql>
    <select id="findInventoryByIds" resultMap="Inventory_BaseResultMap">
        select <include refid="Inventory_Base_Column_List"/>
        from POSTMALL_USER.INVENTORY
        where ITEM_ID in <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
        #{item}</foreach>
    </select>
 -->
</mapper>